
.App{
  background-color: beige;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


}
.box{
  display: flex;
  gap: 7px;
  align-items: center;
  flex-direction: column;
  color: #000;
  height: 30%;
  width: 500px;
}
button{
  background-color: rgb(107, 107, 246);
  border-radius: 10px;
}
.btn{
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}
